<div class="row">
  <div class="col-md-12">
    <p>
      <a class="backbutton" href="#/home"><i class="fa fa-chevron-left"></i> back home</a>
    </p>
    <h1>Albums 2015</h1>
    <table class="table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>cover</th>
          <th>title</th>
          <th>artist</th>
          <th>released</th>
          <th>rating</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="album in albums">
          <td>{{ $index + 1 }}</td>
          <td><img src="{{ album.cover }}" height="20"></td>
          <td>{{ album.title }}</td>
          <td>{{ album.artist }}</td>
          <td>{{ album.released }}</td>
          <td>{{ album.rating }}</td>
          <td>
            <rating ng-model="album.rating" max="6" readonly="isReadonly" state-on="'fa fa-star'" state-off="'fa fa-star-o'">
            </rating>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>