<div class="wrapper">
  <header>
    <h1>Hola this is Tobi</h1>
    <p>
      I'm a Geographer who's loving the outdoors and music. Also coding.
    </p>
    <p class="view">
      <h4>Books read</h4>
      <a class="yearbutton" href="#/books/2015">'15</a> <a class="yearbutton" href="#/books/2016">'16</a><br>
      <h4>Favourite albums</h4>
      <a class="yearbutton" href="#/albums/2015">'15</a> <a class="yearbutton" href="#/albums/2016">'16</a><br>
      <h4>Journeys</h4>
      <a class="yearbutton" href="#/journeys/2015">'15</a> <a class="yearbutton" href="#/journeys/2016">'16</a> <a class="yearbutton" href="#/journeys/2017">'17</a>
      <br><br>
      <hr>
      <a href="https://github.com/ahjadann">View My GitHub Profile</a>
    </p>
    <p><img src="img/pata_pass.png" title="logo patagonia" alt="Patagonia" width="270" height="240"></p>
  </header>
  <section>
    <h1>This shall be interesting</h1>
    <p>
      <em>There's plenty of space here, just wait until it's filled.</em>
    </p>
    <div class="post">
      <h2>Holy... <small>2016-11-20</small></h2>
      <p>
        Well, what do you say about the <a href="http://www.gretschguitars.com/gear/build/hollow-body/g6118t-players-edition-anniversary-hollow-body-with-string-thru-bigsby-filter-tron-pickups-2-tone-lotus-ivory-charcoal-metallic">G6118T-LIV PLAYERS EDITION ANNIVERSARY</a>.
        <p>
          <img src="http://www.fmicassets.com/Damroot/xLg/10002/2401101872_gtr_frt_001_rr.png" width="500">
        </p>
      </p>
    </div>
    <div class="post">
      <h2>Holiday planning <small>2016-02-28</small></h2>
      <p>
        Well, this year I've got 30 leave days in my job. Planned journeys are France (5), Greenland (13 days), Patagonia (10). That's 2 days for in-between.
      </p>
    </div>
    <div class="post">
      <h2>Instrument of rock pt. III <small>2015-10-23</small></h2>
      <p>
        September 22nd I bought a <a href="http://www.sigma-guitars.com/index.php?id=306" target="_self">Sigma 000MC-15E</a>.
      </p>
    </div>
    <div class="post">
      <h2>Instrument of rock pt. II <small>2015-09-20</small></h2>
      <p>
        It was wise to wait. Now, options are two Fender's from the CD-60 CE line:
        <ol>
          <li><a href="http://www.fender.com/acoustics/dreadnought/cd-60ce-with-case/0961536206.html">Fender CD-60CE Black</a></li>
          <li><a href="http://www.fender.com/acoustics/dreadnought/cd-60ce-all-mahogany-with-case/0961590221.html">Fender CD-60CE All Mahogany</a></li>
        </ol>
        Both pretty awesome, but don't know whether I want the warmer sound of mahogany. Also, it seems that I might have to check out Sigma.
      </p>
    </div>
    <div class="post">
      <h2>Instrument of rock pt. I <small>2015-09-09</small></h2>
      <p>
        Determined to buy a <a href="http://www.thomann.de/de/harley_benton_custom_line_cld_15mce.htm" target="_blank">Harley Benton Custom Line CLD-15MCE</a>. Letting the decision maturing a little bit and then get this baby.
      </p>
      <p>
        <img src="http://www.thomann.de/thumb/bdbmagic/pics/bdb/333968/8862493_800.jpg" height="200">
      </p>
    </div>
    <div class="post">
      <h2>Crazy stuff's happening <small>2015-09-08</small></h2>
      <p>
        There's nothing less at stake than the journey to Patagonia now.
      </p>
    </div>
    <div class="post">
      <h2>Something to look forward to <small class="post-meta">2015-07-24</small></h2>
      <p>
        I just hope the journey to <i>Tierra del Fuego</i> will happen.
      </p>
    </div>
  </section>
  <footer>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>, modified by <a href="https://github.com/ahjadann">ahjadann</a> with code from <a href="https://github.com/twbs">Bootstrap</a>.</small></p>
  </footer>
</div>
