<div class="wrapper">
  <header>
    <h1>Hola <span>this is Tobi</span></h1>
    <p>
      I'm a Geographer who's loving the outdoors and coding. Also music.
    </p>
    <p class="view">
      <a href="#/books/2015">View my Books '15</a><br>
      <a href="#/travels/2015">View my Travels '15</a><br>
      <hr>
      <a href="https://github.com/ahjadann">View My GitHub Profile</a>
    </p>
    <p><img src="img/pata_pass.png" title="logo patagonia" alt="Patagonia" width="270" height="240"></p>
  </header>
  <section>
    <h1>This shall be interesting</h1>
    <p>
      There's plenty of space here, just wait until it's filled.
    </p>
  </section>
  <section>
    <h2>Crazy stuff's happening <small>2015-09-08</small></h2>
    <p>
      There's nothing less at stake than the journey to Patagonia now.
    </p>
  </section>
  <section>
    <h2>Something to look forward to <small>2015-07-24</small></h2>
    <p>
      I just hope the journey to <i>Tierra del Fuego</i> will happen.
    </p>
  </section>
  <footer>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>, modified by <a href="https://github.com/ahjadann">ahjadann</a> with code from <a href="https://github.com/twbs">Bootstrap</a>.</small></p>
  </footer>
</div>